.App {
  text-align: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* display: none; */
}

#root {
  /* height: 250vh; */
  background-color: #050839;
  /* display: none; */
  padding-bottom: 50px;
}

.add-btn button {
  width: 102px;
  height: 48px;
  font-size: 22px;
  font-weight: 800;
  color: #fff;
  background-color: #A05BA5;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.add {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  /* cursor: pointer; */
}

.add-btn {
  width: 102px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}